[submodule "project-01"]
	path = project-01
	url = git@github.com-personal:ssh-javi/ocp-fullstack-gitops-delivery.git
[submodule "project-02"]
	path = project-02
	url = https://github.com/ssh-javi/02-reto-cicd.git
[submodule "project-03"]
	path = project-03
	url = https://github.com/ssh-javi/03-reto-cicd.git
[submodule "04-cicd-reto"]
	path = 04-cicd-reto
	url = https://github.com/ssh-javi/04-cicd-reto.git
[submodule "project-04"]
	path = project-04
	url = https://github.com/ssh-javi/04-cicd-reto.git
[submodule "project-05"]
	path = project-05
	url = https://github.com/ssh-javi/05-reto-cicd.git
